:root {
	--bg: hsl(0, 0%, 98%);
	--elements: hsl(0, 0%, 100%);
	--text: hsl(200, 15%, 8%);
	--shadow: rgba(133, 133, 133, 0.308);
	--input-bg: hsl(0, 0%, 52%);
	--clear-bg: rgb(255, 255, 255);
	--shadow-prop: 0 0 12px 0 var(--shadow);
	--search-color: rgba(133, 133, 133, 0.205);
	--card-height: 340px;
}

.dark {
	--bg: hsl(205, 26%, 17%);
	--elements: hsl(209, 23%, 22%);
	--text: hsl(0, 0%, 100%);
	--shadow: rgba(133, 133, 133, 0.308);
	--input-bg: hsl(0, 0%, 52%);
	--clear-bg: hsl(210, 22%, 22%);
	--shadow-prop: 0 0 12px 0 var(--shadow);
	--search-color: rgba(133, 133, 133, 0.692);
}

.text-color {
	color: var(--text);
}

body {
	-webkit-tap-highlight-color: transparent;
	/*Removesthebluehighlightwhenbuttontappedonmobile*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	background-color: var(--bg);
	color: var(--text);
	transition: background-color .6s linear;
	-webkit-transition: background-color .6s linear;
	-moz-transition: background-color .6s linear;
	-ms-transition: background-color .6s linear;
	-o-transition: background-color .6s linear;
}

.section {
	margin-top: 1.825rem;
}

/**
 *
 * Navigation
 *
 */

.navigation {
	padding: 1.325rem 10px;
	align-items: center;
}

.nav-container {
	box-shadow: var(--shadow-prop);
	background-color: var(--clear-bg);
	padding: 0;
}

.navigation .title a {
	font-size: 1rem;
}

.navigation .title a, a .back-button {
	text-decoration: none;
	color: var(--text);
}

/**
 *
 * Cards container
 *
 */

.cards-container {
	background-color: inherit;
}

/**
 *
 * Search field
 *
 */

.user-actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.search-field-container {
	background-color: var(--clear-bg);
	height: 50px;
	width: 480px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	box-shadow: var(--shadow-prop);
	padding: 0 20px;
}

.search-icon {
	color: var(--search-color);
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
}

form {
	margin: 0;
	padding: 0;
}

.search-input {
	border: 0;
	outline: 0;
	height: 100%;
	width: 130%;
	flex-basis: 190px;
	background-color: var(--clear-bg);
}

.filter-field-container {
	background-color: var(--clear-bg);
	height: 50px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	box-shadow: var(--shadow-prop);
	align-items: center;
	display: flex;
	padding: 5px;
}

select {
	padding: 0 20px;
	border: 0;
	outline: 0;
	background-color: var(--clear-bg);
	color: var(--text)
}

/**
 *
 * Page content
 *
 */

.content {}

@media screen and (max-width: 375px) {
	.filter-field-container {
		margin-top: 2rem;
	}
}

/**
 *
 * Card
 *
 */

.card {
	width: 100%;
	margin: 1.225rem auto;
	height: var(--card-height);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border: 0;
	outline: none;
	box-shadow: var(--shadow-prop);
	background-color: var(--clear-bg);
}

.card-img {
	width: 100%;
	height: calc((var(--card-height)/2) - 40px);
	max-height: calc((var(--card-height)/2) - 40px);
}

.card-img img {
	width: 100%;
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.card-details {
	margin-top: 4rem;
	padding: 1rem;
	line-height: 0.625rem;
	padding: 1rem;
	line-height: 0.625rem;
}

.theme-switcher, .back-button {
	cursor: pointer;
	border: 1px solid var(--search-color);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	padding: 8px;
}

/**
 *
 * Country
 *
 */

.country-info-container {
	height: 800px;
	max-height: 800px;
}

.country-flag {
	max-height: 380px;
	width: 320px;
	max-width: 480px;
}

.back-button {
	box-shadow: var(--shadow-prop);
	max-width: 120px;
	text-align: center;
	text-decoration: none;
}

.country-name {
	font-size: 1.625rem;
	font-weight: bold;
}

.country-individual-info {
	min-width: 320px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media screen and (min-width: 1024px) {
	.country-individual-info {
		min-width: 500px;
	}
}